Package: com.xcxiao.wakeitup
Name: LiftToWakeUp
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: SpringBoard Lift to wake up.
Maintainer: XCXiao
Author: XCXiao
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 124
